*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font family link */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
  --dm-font: "DM Sans", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --black-color: #0C0C0C;
  --light-gray: #F4F4F4;
  --light-green: #64CCC5;
  --white-color: #fff;
  --header-color: #1A1C1C;
}
body{
  font-family: var(--roboto-font);
}
h2{
  font-size: 64px;
  font-weight: 600;
}
h4{
  font-size: 34px;
  font-weight: 600;
}
p{
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
ul{
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
}
img{
  width: 100%;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 14px;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section{
  padding: 90px 0;
}
button{
  cursor: pointer;
}
.d-flex{
  display: flex;
}
/* header code start */
header{
  background: var(--header-color);
  padding: 20px;
}
.logo img{
  max-width: 150px;
}
nav ul li{
  display: inline-block;
  margin: 0 15px;
}
nav ul li a{
  padding: 10px 20px;
  text-transform: capitalize;
  color: var(--white-color);
  font-size: 20px;
  position: relative;
}
nav ul li a::after{
  content: "";
  position: absolute;
  background-color: var(--light-green);
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.btn-tuch button{
  padding: 10px 25px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 22px;
  font-weight: 400;
  background-color: var(--white-color);
  color: var(--black-color);
  transition: 0.5s;
}

.btn-tuch button:hover {
  background-color: var(--light-green);
  color: var(--white-color);
}
/* banneer section code start */
.banner-section{
  position: relative;
  width: 100%;
  height: 110vh;
  background: url("/img/banner-bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white-color);
  overflow: hidden;
  padding: 100px 0;
}
.banner-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #1A1C1C, #1a1c1ce0, #1a1c1cb0);
  z-index: 1;
}
.banner-section .container {
  position: relative;
  z-index: 2;
}
.banner-text-area{
  width: calc(50% - 14px);
}
.banner-text-area h2{
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-text-area h2 span{
  color: var(--light-green);
}
.banner-text-area p{
  width: calc(90% - 14px);
  margin-bottom: 25px;
  line-height: 25px;
}
.trial-btn{
  padding: 10px 20px;
  border-radius: 20px;
  width: 245px;
  background-color: var(--light-gray);
  color: var(--header-color);
  margin-bottom: 50px;
}
.trial-btn p{
  
  margin-bottom: 0;
}
.trial-btn .lesthen-btn{
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: var(--header-color);
  color: var(--light-gray);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 50%;
}
.banner-logo-img{}
.banner-logo-img h5{
  font-size: 22px;
  color: var(--light-green);
}
.trut-img{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.trut-img img{
  width: 120px;
  object-fit: cover;
}
.banner-img{
  width: calc(48% - 50px);
}
.banner-img img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

 /* Banner Section */
